@model StreetLighting.Models.RespondentAnswers

@{
    ViewData["Title"] = "CheckAnswers2";
}


    <div class="govuk-width-container">
        <a asp-controller="StreetLighting" asp-action="Brightness" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">

                    <h1 class="govuk-heading-l">Please check your answers before completing the questionnaire</h1>

                    <h2 class="govuk-heading-m">Personal details</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value"> @Model.Name</dd>
                            <dd class="govuk-summary-list__actions">
                                <a asp-controller="StreetLighting" asp-action="Name" class="govuk-link">
                                    Change<span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" >Email Address</dt>
                            <dd class="govuk-summary-list__value">@Model.EmailAddress</dd>
                            <dd class="govuk-summary-list__actions">
                                <a asp-controller="StreetLighting" asp-action="EmailAddress" class="govuk-link">
                                    Change<span class="govuk-visually-hidden"> date of birth</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.Address.HouseNumber @Model.Address.HouseName @Model.Address.Street <br>@Model.Address.City<br>@Model.Address.PostCode
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a asp-controller="StreetLighting" asp-action="Address" class="govuk-link">
                                    Change<span class="govuk-visually-hidden"> address</span>
                                </a>
                            </dd>
                        </div>
                    </dl>

                    <h2 class="govuk-heading-m">Questionaire Response</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Satisfactory lighting level?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.Satisfied
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a asp-controller="StreetLighting" asp-action="Lighting" class="govuk-link">
                                    Change<span class="govuk-visually-hidden"> response</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Brightness?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.Brightness
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a asp-controller="StreetLighting" asp-action="Brightness" class="govuk-link">
                                    Change<span class="govuk-visually-hidden"> response</span>
                                </a>
                            </dd>
                        </div>

                    </dl>

                    <h2 class="govuk-heading-m">Now submit your response</h2>

                    <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
                    
                    <form asp-action="CheckAnswers">

                        <input type="hidden" asp-for="Name">
                        <input type="hidden" asp-for="EmailAddress">
                        <input type="hidden" asp-for="Address.HouseNumber">
                        <input type="hidden" asp-for="Address.HouseName">
                        <input type="hidden" asp-for="Address.Street">
                        <input type="hidden" asp-for="Address.City">
                        <input type="hidden" asp-for="Address.PostCode">
                        <input type="hidden" asp-for="Satisfied">
                        <input type="hidden" asp-for="Brightness">
                        <input type="submit" name="sendBtn" value="Accept and Send" class="govuk-button" data-module="govuk-button" />

                    </form>

                </div>
            </div>
        </main>
    </div>


@*<h1>CheckAnswers2</h1>

<h4>RespondentAnswers</h4>
<hr />

<table class="table">
    <tr>
        <th>
            Personal details
        </th>
        <th></th>
    </tr>

    <tr>
        <td >@Html.DisplayFor(item => item.Name) </td>
        <td>
            @Html.ActionLink("Change", "Change", new { type = "name" }) |
        </td>
    </tr>
</table>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CheckAnswers">

            <table class="table">
                <tr>
                    <th>
                        Personal details
                    </th>
                    <th></th>
                </tr>

                <tr>
                    <td>  <label asp-for="Name" class="control-label"></label></td>
                    <td>  <input asp-for="Name" class="form-control" /></td>
                    <td>
                        @Html.ActionLink("Change", "Change", new { type = "name" })
                    </td>
                </tr>
                <tr>
                    <td> <label asp-for="EmailAddress" class="control-label"></label></td>
                    <td>  <input asp-for="EmailAddress" class="form-control" /></td>
                    <td>
                        @Html.ActionLink("Change", "Change", new { type = "email" })
                    </td>
                </tr>
            </table>

            <div class="form-group">
                <input type="submit" name="sendBtn" value="Accept and Send" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

